html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(173, 173, 173);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(255, 253, 253);
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(250, 252, 252);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
  
}
.footer {
    background-color: rgb(184, 184, 184);
    min-height: 150px;
    font: italic 15px arial, sans-serif;
    text-align: center;
}


table thead th {
    background-color: black;
    color: white;
}

table tfoot td {
    background-color: lightgray;
}

table tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

table tbody tr:hover td{
    background-color: #E9E9E9;
    cursor: pointer;
}

#formulario{

    

}
